---
import {Image} from 'astro:assets'; import {
  sillon, salaDeEspera, esterilizacion, instrumentos, ultrasonido, radiografia
} from '../../images';
---
<section id="gallery" class="pt-28 px-4 sm:px-16">
  <h2 class="flex justify-center pb-6 font-semibold text-3xl">Gallery</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-1">
    <div class="overflow-hidden rounded-lg">
      <Image
        class="zoom w-auto h-auto aspect-auto"
        src={sillon}
        width={800}
        height={600}
        title="Dentist Chair"
        alt="Dentist Chair"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <Image
        class="zoom w-auto h-auto aspect-auto"
        src={salaDeEspera}
        width={800}
        height={600}
        title="Waiting Room"
        alt="Waiting Room"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <Image
        class="zoom w-auto h-auto aspect-auto"
        src={esterilizacion}
        width={800}
        height={600}
        title="Sterilization"
        alt="Sterilization"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <Image
        class="zoom w-auto h-auto aspect-auto"
        src={instrumentos}
        width={800}
        height={600}
        title="instruments"
        alt="instruments"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <Image
        class="zoom w-auto h-auto aspect-auto"
        src={ultrasonido}
        width={800}
        height={600}
        title="ultrasonics"
        alt="ultrasonics"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <Image
        class="zoom w-auto h-auto aspect-auto"
        src={radiografia}
        width={800}
        height={600}
        title="X-rays"
        alt="X-rays"
      />
    </div>
  </div>
</section>

<style>
  #gallery {
    @media (min-width: 1400px) {
      margin: 0% 10%;
    }
  }
  .zoom {
    transition: all 0.5s ease;
  }

  .zoom:hover {
    transform: scale(1.2);
  }

  .zoom-animation {
    animation: zoomEffect 1s ease;
  }

  @keyframes zoomEffect {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
</style>

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const images = entry.target.querySelectorAll(".zoom");
          images.forEach((img, index) => {
            setTimeout(() => {
              img.classList.add("zoom-animation");
              setTimeout(() => {
                img.classList.remove("zoom-animation");
              }, 1000);
            }, index * 200);
          });
          observer.unobserve(entry.target);
        }
      });
    },
    {
      threshold: 0.1,
    }
  );

  const gallery = document.getElementById("gallery");
  if (gallery) {
    observer.observe(gallery);
  }
</script>
